<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://pharmart.in/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/pharmart/pharmart2.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://pharmart.in/" target="_blank">Pharmart</a>
        </div>
        <p>At Pharmart, we brought the medical store at your doorstep. With an Anroid app, you could order medicines online and get them delivered within minutes!</p>
      </figcaption>
    </div>
  </div>
</section>
